/app1/*
!/app1/.gitkeep
/app2/*
!/app2/.gitkeep
/vendor/
/.idea/
/node_modules/*
.vscode
/environment/data/*
/environment/data/.gitkeep
environment/tools/phpStorm/vendor/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
