files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/00_pre_provision_app_deploy.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      aws s3 cp s3://codepipeline-eu-west-2-783384176554/variables/production.env . && cat production.env > /etc/environment && eval $(< production.env)
