files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/00_pre_provision_app_deploy.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      aws s3 cp $CURRENT_ENV_PARAMS ./deploy_params.env
      cat deploy_params.env > /etc/environment
      eval $(< deploy_params.env)
