files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/91_post_provision_app_deploy.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      docker exec -d $(docker ps -a -q --filter="name=app") chown -R www-data:www-data /var/www/html/
      docker exec -d $(docker ps -a -q --filter="name=app") sh -c "service nginx restart"
