files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/91_post_provision_app_deploy.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      docker exec -t $(docker ps -a -q --filter="name=app") chown -R www-data:www-data /var/www/html/
      docker exec -t $(docker ps -a -q --filter="name=app") nginx
      chmod 777 /var/app/current/deploy/provision.sh
      docker exec -t $(docker ps -a -q --filter="name=app") chmod 777 /var/www/html/deploy/provision.sh
      docker exec -t $(docker ps -a -q --filter="name=app") /var/www/html/deploy/provision.sh
      docker exec -t $(docker ps -a -q --filter="name=app") chown -R www-data:www-data /var/www/html/