files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/91_run_something_after_deploymnet.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      chmod 777 /var/app/current/deploy/provision.sh
      docker exec -t $(docker ps -a -q --filter="name=app") sh -c "/var/www/html/deploy/provision.sh"